.accountCard-component
  background #FFF
  color #666
  margin 15px
  padding 8px 16px
  position relative
  h2
    color #1D7B8A
    font-size 20px
    font-weight bold
    line-height 26px
  p
    font-size 1.2rem
    line-height 20px
  &:before
    bottom -3px
    box-shadow 0 3px 0 rgba(201, 198, 198, 1)
    content ""
    height 10px
    left 8px
    position absolute
    right 8px
  &:after
    border 3px solid transparent
    border-bottom none
    border-top-color #A5A5A5
    bottom -3px
    content ''
    height 0
    left 0
    position absolute
    right 0
  > div
    text-align right
  img
    bottom 16px
    left 16px
    position absolute
