button
  background #1D7B8A
  border none
  color #FFF
  font-size 2rem

.btn-link,
.btn-prev
  background none
  border none
  color #1D7B8A
  cursor pointer
  font-size 1.6rem
  line-height 20px

.btn-mini
  font-size 2.6rem
  position relative
  height 42px
  width 42px
  &:before
    background #E0DFDF
    bottom -6px
    content ""
    height 3px
    left 5px
    position absolute
    right 5px
  &:after
    border 3px solid transparent
    border-top-color #14555F
    content ""
    left 0
    position absolute
    right 0
    bottom -6px

.btn-setupBudget
  box-sizing border-box
  padding 12px 0
  position relative
  width 100%
  &:after
    border 5px solid transparent
    border-top 8px solid #009FAC
    bottom -13px
    content ""
    left 0
    position absolute
    right 0
