@font-face
  font-family 'RNHouseSans'
  src url('../assets/fonts/RNHouseSansW01Regular.ttf')
  src url('../assets/fonts/RNHouseSansW01Regular.woff') format('woff'),
  src url('../assets/fonts/RNHouseSansW01Regular.eot') format('embedded-opentype'),
  src url('../assets/fonts/RNHouseSansW01Regular.svg') format('svg')

@font-face
  font-family 'RNHouseSansBold'
  src url('../assets/fonts/RNHouseSansW01Bold.ttf')
  src url('../assets/fonts/RNHouseSansW01Bold.woff') format('woff'),
  src url('../assets/fonts/RNHouseSansW01Bold.eot') format('embedded-opentype'),
  src url('../assets/fonts/RNHouseSansW01Bold.svg') format('svg')

*
  margin 0
  padding 0

html
  font 62.5% RNHouseSans, Arial, sans
  height 100%

body
  font-size 1.6rem
  height 100%
  overflow hidden
  position relative

#app
  height 100%
  overflow auto

.app-component
  box-sizing border-box
  min-height 100%
  padding 0 0 60px

.accounts,
.settings
  background #EEE

.bgOverlay
  background rgba(51, 51, 51, 0.35)
  bottom 0
  left 0
  position absolute
  right 0
  top 0

@import 'buttons.styl'
@import '../components/Header'
@import '../components/Nav'
@import '../components/Pages'
@import '../components/AccountCard'
@import '../components/TimelineCard'
@import '../components/Balance'
@import '../components/History'
@import '../components/SpendingList'
