.page-component
  &.settings
    h2,
    p
      color #666
      font-size 1.2rem
      font-weight normal
      line-height 20px
      margin 8px 16px
    button
      background none
      border none
      color #333
      font-size 16px
    ul
      background #FFF
      border-bottom 1px #BCBBC1 solid
      border-top 1px #C9C6C6 solid
      list-style none

    li
      color #333
      margin 0 0 0 16px
      padding 16px 16px 16px 0
      &+li
        border-top 1px #BCBBC1 solid

  .budgetsHead
    display flex
    justify-content space-between
    margin 16px
    h2
      font-size 1.6rem
      font-weight normal
      line-height 40px

  .breakdown
    background #F5F5F5
    margin 16px
    padding 16px

    ul
      margin 0 0 8px
      padding 0 0 0 10px

    li + li
      margin 4px 0 0

  .budgetCalculator,
  .budgetOverview
    margin 16px

    p
      margin 16px 36px 8px
      text-align center

    > div
      background #F5F5F5
      display flex
      font-size 3.2rem
      justify-content space-between
      line-height 40px
      margin 0 0 14px
      padding 6px 8px 12px

    ul
      display flex
      justify-content space-between
      list-style none
    li
      border-left 1px solid #EEE
      font-size 1.2rem
      padding 0 4px
      text-align center
      width 108px
      &:first-child
        border none
    b
      display block
      font-size 1.6rem
    em
      font-size 1.2rem
      font-style normal

  .budgetOverview
    ul
      justify-content center
    em
      b
        display inline-block
        font-size 1.2rem
        font-weight bold


  .mainButtonContainer
    margin 0 16px

  .budgetsView
    position relative
    .btn-prev
      left 16px
      position absolute
    h2
      font-size 2rem
      font-weight normal
      line-height 26px
      margin 16px
      text-align center

    .budget
      background #F5F5F5
      font-size 3.2rem
      line-height 40px
      padding 8px 16px
      position relative
      text-align center
      margin 16px
    .btn-link
      right 16px
      position absolute
      top 50%
      transform translateY(-50%)

.budgets
  h3
    margin 16px 16px 8px
    text-align center

  p
    color #666
    font-size 1.2rem
    margin 8px 16px 16px
    text-align center

  .budgetBars
    margin 0 16px
    .bars
      background #EEE
      overflow hidden
      position relative
    span
      background #68437F
      border-radius 0 100px 100px 0
      box-sizing border-box
      color #FFF
      display inline-block
      font-size 1.2rem
      font-weight bold
      line-height 20px
      margin 0 0 0 -8px
      padding 0 5px
      position relative
      text-align center
      vertical-align top
      z-index 1
      &:first-child
        background #1D7B8A
        margin 0
        z-index 2
    p
      color #333
      font-weight bold
      margin 4px 0 0
      text-align right

  .spending
    p
      line-height 20px
      margin 16px
      text-align left

.budgetWarning
  background #FBBA20
  color #333
  font-size 1.2rem
  font-weight bold
  left 0
  line-height 28px
  padding 0 16px
  position absolute
  right 0
  text-transform uppercase
  top 100px

  svg
    display inline-block
    margin 0 8px 0 0
    vertical-align sub

.overlay
  position absolute
  background #FFF
  width 100%
  height 400px
  z-index 10
