.header-component
  background #42145F
  height 100px
  overflow auto
  position relative

  h1
    color #FFF
    font 3.2rem RNHouseSansBold, Arial
    margin 54px 16px 0
    text-transform capitalize
