.spendingList-component
  h3
    background #68437F
    color #FFF
    font-size 1.2rem
    font-weight bold
    line-height 36px
    margin 8px 0
    padding 0 16px
    position relative
    text-align left
    text-transform uppercase
    span
      position absolute
      right 16px

  ul
    list-style none
    margin 13px 16px 8px
    max-height 1500px
    overflow hidden
    transition 1s all ease-in-out
    &.hide
      max-height 145px
      li:nth-of-type(1n+4)
        opacity 0

  li
    color #333
    font-size 1.6rem
    line-height 20px
    padding 0 0 16px 22px
    position relative
    transition 1s all ease-in-out
    span
      position absolute
      right 0
    &:last-child
      padding 0 0 0 22px
    &:before
      background #68437F
      bottom 0
      content ""
      left 4px
      position absolute
      top 0
      width 1px
    &:after
      background #68437F
      content ""
      top 0
      height 10px
      left 0
      position absolute
      width 10px

  .date
    color #666
    font-size 1.2rem
    line-height 10px
    margin 0 0 8px

  button
    background #FFF
    color #1D7B8A
    font-size 1.2rem
    margin 0 16px

.regular
  h3,
  li:before,
  li:after
    background #1D7B8A
