.timelineCard-component
  color #FFF
  margin 15px
  padding 15px
  position relative
  span
    font-size 1.2rem
    font-weight bold
    text-transform uppercase
  h2
    font-size 20px
    font-weight bold
    margin 10px 0
  &:before
      bottom -3px
      box-shadow 0 3px 0 rgba(201, 198, 198, 1)
      content ""
      height 10px
      left 8px
      position absolute
      right 8px
  &:after
    border 3px solid transparent
    border-bottom none
    bottom -3px
    content ''
    height 0
    left 0
    position absolute
    right 0
  &.roundup
    background #42145F
    &:after
      border-top-color #6F2C91
    span
      color #42145F
      background #FFF
      border-radius 2px
      padding 3px 5px
  &.actionable
    background #1D7B8A
    &:after
      border-top-color #14555F
  &.info
    background #EEE
    color #333
    h2
      color #1D7B8A
    &:after
      border-top-color #A5A5A5
