.history-component
  background #FFF
  border-radius 16px 16px 0 0
  bottom 0
  left 2px
  overflow auto
  padding 16px
  position absolute
  right 2px
  top 16px
  z-index 1

  button
    display block
    margin 0 auto
    svg
      margin 0 0 0 8px

  h2
    font-size 3.2rem
    font-weight normal
    line-height 40px
    text-align center
    margin 32px 0 16px

  .key
    color #666
    font-size 1.2rem
    font-weight bold
    margin 16px 0 16px 63px
    text-transform uppercase
    vertical-align bottom
    span
      background #CE3B57
      display inline-block
      height 9px
      line-height 12px
      margin 0 4px 0 16px
      width 9px
      &:first-child
        background #1D7B8A
        margin 0 4px 0 0

  ul
    list-style none

  .period
    color #333
    float left
    font-size 1.2rem
    margin 0 10px 0 0
    white-space nowrap

  .bars
    color #666
    display block
    font-size 1.2rem
    line-height 12px
    margin 0 0 8px 63px
    span
      position absolute

  b
    border-radius 0 100px 100px 0
    display inline-block
    height 12px
    line-height 12px
    margin 0 3px 0 0

  .income
    b
      background #1D7B8A

  .spending
    margin 4px 0 0
    b
      background #CE3B57
