.balance-component
  text-align right
  span
    color #333
    display block
    font-size 2rem
    line-height 20px
  b
    font-size 3.6rem
    font-weight normal
    line-height 40px
  .available
    color #666
    font-size 1.2rem

.budgets
  .balance-component
    b
      font-size 3.2rem
