.nav-component
  background #F5F5F5
  bottom 0
  box-shadow 0 -2px 4px 0 rgba(0, 0, 0, 0.1)
  left 0
  position absolute
  right 0

  ul
    box-shadow 0 -0.5px 0 0 rgba(0, 0, 0, 0.3)
    display flex
    justify-content space-between
    list-style none
    padding 0 15px 7px

  button
    background none
    border none
    color #666
    font-family RNHouseSans, Arial, sans
    font-size 1.2rem
    text-align center

  svg
    display block
    fill none
    height 22px
    margin 4px auto 6px
    stroke #C9C6C6
    width 22px

.timeline .btn-timeline,
.actions .btn-actions,
.accounts .btn-accounts,
.settings .btn-settings
  color #42145F
  svg
    fill #42145F
    stroke #42145F
.budgets .btn-budgets
  color #42145F
  svg
    fill #42145F
    stroke none
